@font-face {
  font-family: 'Hind';
  font-weight: 700;
  src: url(../assets/fonts/hind/Hind-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind';
  font-weight: 300;
  src: url(../assets/fonts/hind/Hind-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind';
  font-weight: 500;
  src: url(../assets/fonts/hind/Hind-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind';
  font-weight: 400;
  src: url(../assets/fonts/hind/Hind-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind';
  font-weight: 600;
  src: url(../assets/fonts/hind/Hind-SemiBold.ttf) format('truetype');
}
