@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts";
@import "styles";

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Hind", "Playfair Display", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

*,
*::after,
*::before {
  outline: none;
}
